
    <div id="hello">
      <div id="welcome_text">
        <h1>WELCOME ON <span id="home_title">DO NOTE</span></h1>
        <p>Your notes, easily.</p>
      </div>
      <div id="home_sign_in">
        <button class="btn btn-lg">
          <%= link_to "Sign in", new_user_session_path %>
        </button>
      </div>

    </div>
